.slider-container {
    position: relative;
  }
  
  .slide {
    position: relative;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  
  .slick-prev,
  .slick-next {
    font-size: 40px;
    color: white;
    z-index: 9999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .slick-prev {
    left: 10px;
  }
  
  .slick-next {
    right: 10px;
  }
  


