.footer {
    background-color: #000;
    padding: 60px;
    color: #fff;
    text-align:left;
  }
  .title {
    display: flex;
    align-items: center;
  }
  
  .footer-icon,
  .footer-img {
    margin-right: 10px;
  }
  
  .footer-icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  .footer-img {
    display: flex;
    align-items: center;
    width: 50px; /* Ajusta el tamaño según lo necesites */
    height: auto;
    margin-right: 10px;
  }
  .footer-columns {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    margin-bottom: 28px;
  }
  .footer-column {
    flex-basis: 30%; /* Ajusta el ancho de las columnas según lo necesites */
  }
  .columnasUnoDos{
    display:flex;
    justify-content: space-between;
    padding-right: 200px;
  }
  .columnaDos{
    width: 203px;
  }
  .columnaUno{
    padding-right: 100px;
  }
  .columnasTres{
    
    padding-left: 100px;
  }

  .footer-down{
    background-color: #000;
    padding: 20px;
    color: #fff;
    text-align:left;
  }
 

  .derechos {
    text-align: center;
  }

  .parrafo-footer{
    font-size: 18px;
    initial-value: 2px;
    font-weight: bold;
    line-height: 2;
  }
 
  desarrollo{
    width: auto;
  }
  .parrafo-telefono {
    text-decoration: underline;
    color: white;
  }

  .parrafo-telefono,
  .parrafo-correoelectronico {
    line-height: 2; /* Igualmente puedes ajustar este valor */
  }

  .logo-footer{
    max-width: 224%;
    height: auto;
  }
  