.navbar {
  background-image: url("../assets/header-web-opacity.jpg");
  background-color: grey;

  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen */
  height: 100vh; /* Altura deseada */
  display: flex;
  align-items: center;
  padding: 0 20px; /* Añade relleno si es necesario */
  flex-direction: column;
  z-index: 3;
  position: relative;
  width: 100%;
}

.next-navbar {
  width: 100%;
}
.navi {
  height: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

 
}

.nav-links{
  display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-links a {
  margin-right: 20px; /* Ajusta el valor según el espacio deseado */
}




.logo {
  max-width: 20%;
  height: auto;
}

.logo2 {
  max-width: 10%;
  height: auto;
}
.navi {
  background-color: transparent;
  color: white;
}

.Link {
  color: white;
  font-weight: bold;
  font-size: 15px;
  display: flex;
}

.terruneo {
  padding-top: 160px;
}
.logoTerruneo {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}
.terruneo-titulo-blanco {
  color: white;
  font-size: 6em;
  font-weight: bold;
}

.terruneo-titulo-naranja {
  color: #f3934a;
  /* Ajusta el tamaño de la fuente según sea necesario */
  font-size: 6em; /* Por ejemplo */
  font-weight: bold;
}

.sub {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2em; /* Por ejemplo */
  font-weight: bold;
}

.contact-button {
  border-radius: 7px; /* Border radius de 7px */
  border: 2px solid white; /* Borde de 2px blanco */
  background-color: transparent; /* Fondo transparente */
  padding: 10px 20px; /* Espacio interno del botón */
  color: white; /* Color del texto */
  text-decoration: none; /* Eliminar subrayado del texto */
}

.contact-button:hover {
  background-color: white; /* Cambiar fondo a blanco al pasar el cursor */
  color: black; /* Cambiar color del texto a negro al pasar el cursor */
}



